<div class="container">
  <section id="part-1" class="parallax-window" data-parallax="scroll" data-image-src="/assets/img_smile.png" data-bleed="20.5">
    <div class="section-container section-container-begin">
      <div class="section-content">
        <blockquote>
          <p>“The best way to predict your future is to create it.”</p>
          <footer>Abraham Lincoln</footer>
        </blockquote>
      </div>
    </div>
  </section>
  <section id="part-2" class="parallax-window" data-parallax="scroll" data-image-src="/assets/computer.JPG" data-bleed="20.5">
    <div class="section-container">
      <div class="section-content">
        <h2>Story</h2>
        <p class="p-content">
          "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem."
        </p>
      </div>
    </div>
  </section>
  <section id="part-3" class="parallax-window" data-parallax="scroll" data-image-src="/assets/vr.JPG" data-bleed="20.5">
    <div class="section-container">
      <div class="section-content">
        <h2>Aspiration</h2>
        <p class="p-content">
          "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem."
        </p>
      </div>
    </div>
  </section>
  <section id="part-4" class="parallax-window" data-parallax="scroll" data-image-src="/assets/pattern.JPG" data-bleed="20.5">
    <div class="section-container">
      <div class="section-content">
        <h2>Portfolio</h2>
        <p class="p-content">
          "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem."
        </p>
      </div>
    </div>
  </section>
  <section id="part-5" class="parallax-window" data-parallax="scroll" data-image-src="/assets/phone.JPG" data-bleed="20.5">
    <div class="section-container">
      <div class="section-content">
        <h2>Contact</h2>
        <p class="p-content">
          "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto."
        </p>
      </div>
    </div>
  </section>
</div>
