<div class="container">
  <section id="part-1" class="parallax-window" data-parallax="scroll" data-image-src="/assets/img_smile.png" data-bleed="20.5">
    <div class="section-container section-container-begin">
      <div class="section-content">
        <blockquote>
          <p>“The best way to predict your future is to create it.”</p>
          <footer>Abraham Lincoln</footer>
        </blockquote>
      </div>
    </div>
  </section>
  <section id="part-2" class="parallax-window" data-parallax="scroll" data-image-src="/assets/computer.JPG" data-bleed="20.5">
    <div class="section-container">
      <div class="section-content">
        <h2>Story</h2>
        <p class="p-content">
          I am a web developer interested in about anything, especially in the aspect of its mechanics. Whether it be looking into the best way of kicking a soccer ball, learning how to drive a manual shift car or finding ways to optimize reports in Microsoft Excel, I like to see myself as a curious person to see how something works and manipulate the process to make it more convenient for myself. I hope to apply this principle in my future work and that it may provide comfort to someone’s life.
        </p>
      </div>
    </div>
  </section>
  <section id="part-3" class="parallax-window" data-parallax="scroll" data-image-src="/assets/vr.JPG" data-bleed="20.5">
    <div class="section-container">
      <div class="section-content">
        <h2>Aspiration</h2>
        <p class="p-content">
          In the future, I would like to get into Virtual Reality. It’s insane to think that the technology already exists through our mobile phones. I truly believe that Moose’s Law will have an affect to this technology and sooner or later, it will be a norm to utilize it some or another in our everyday lives. What inspires me aspire to learn more about the technology mainly grew from Chris Milk’s Ted talk on <a class="tedtalklink" target="_blank" href="https://www.ted.com/talks/chris_milk_how_virtual_reality_can_create_the_ultimate_empathy_machine">How virtual reality can create the ultimate empathy machine</a> (2015). When trying to describe an experience, many times we cite, “You have to be there to know it”. However, through virtual reality, I could vision the phrase being used a lot less.
        </p>
      </div>
    </div>
  </section>
  <section id="part-4" class="parallax-window" data-parallax="scroll" data-image-src="/assets/pattern.JPG" data-bleed="20.5">
    <div class="section-container">
      <div class="section-content">
        <h2>Projects</h2>

        <div class="projects">

          <div class="project">
            <div class="title">Eat Anything</div>
            <div class="project-card">
              <div class="view third-effect">
                <img src="/assets/anything.png" />
                <div class="mask">
                  <a href="http://eatanything.herokuapp.com/" target="_blank" class="info" title="Full Image">Full Image</a>
                </div>
              </div>
            </div>

            <div class="project-description">
              Ruby on Rails/JavaScript based app utilizing Yelp API that seaches a restaurant near you.
            </div>
          </div>

          <div class="project">
            <div class="title">levelUp Learning</div>
            <div class="view third-effect">
              <img src="/assets/levelup.png" />
              <div class="mask">
                <a href="http://leveluplearning.herokuapp.com/" target="_blank" class="info" title="Full Image">Full Image</a>
              </div>
            </div>

            <div class="project-description">
              Ruby on Rials/Javascript based app utilizing Google API that socializes learning.
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="part-5" class="parallax-window" data-parallax="scroll" data-image-src="/assets/phone.JPG" data-bleed="20.5">
    <div class="section-container">
      <div class="section-content">
        <h2>Contact</h2>
        <p class="paragraph">
          I welcome any opportunities, feel free to connect with me.
        </p>
        <div class="contact-icons">

          <div class="contact-icon" id="github">
            <a target="_blank" href="https://github.com/yuntjs">
              <i class="contact-i fa fa-6 fa-github-alt fa-5x" aria-hidden="true"></i>
            </a>
          </div>

          <div class="contact-icon" id="linkedin">
            <a target="_blank" href="https://www.linkedin.com/in/yuntjs">
              <i class="contact-i fa fa-6 fa-linkedin-square fa-5x" aria-hidden="true"></i>
            </a>
          </div>

          <div class="contact-icon" id="gmail">
            <a id="gmail-link" href="">
              <i class="contact-i fa fa-envelope fa-5x" aria-hidden="true"></i>
            </a>
          </div>

        </div>
        <div class="email-div">
          <p class="email hide paragraph">yuntjs@gmail.com</p>
        </div>
      </div>
    </div>
  </section>
</div>
