html,body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

nav {
  height: 100px;
  width: 100%;
  background-color: #171717;
  margin-top: -20px;
  position: fixed;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  z-index: 10000;s
}

nav ul {
  margin: 0;
  height: 100%;
}

nav ul li:hover {
  background-color: #FF5D73;
}


nav a {
  text-decoration: none;
  color: white;
  font-family: Francois One;
}

.nav-li {
  text-decoration: none;
  text-align: center;
  width: 80px;
  height: 50px;
  display: inline-block;
  color: white;
  padding-top: 50px;
  margin-bottom: -50px;
  border: none;
}

.active {
  background-color: #FF5D73;
}

.nav-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  height: 100%;
}

.section-container {
  height: 550px;
  width: 75%;
  margin: 0 auto;
  margin-top: 40px;
  color: white;
  background: rgb(73, 73, 73); /* Fallback for older browsers without RGBA-support */
  background: rgba(73, 73, 73, 0.8);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-container-begin {
  width: 90%;
  height: 200px;
  margin-top: 350px;
  background: none;
}

.section-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.section-content h2 {
  color: #FF5D73;
  font-family: Pacifico;
  font-size: 50px;
  margin-bottom: 0px;
}

.p-content {
  font-family: Noticia Text;
  font-size: 24px;
}

.parallax-window {
  min-height: 620px;
  padding-top: 80px;
  background: transparent;
}

blockquote p {
  font-family: Pacifico;
  font-size: 50px;
  color: #FF5D73;
  margin-bottom: 3px;
}

blockquote footer {
  font-family: Francois One;
  font-size: 20px;
}
